@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: #f8fafc;
    overscroll-behavior: none;
  }
  
  html.dark, html.dark body {
    background-color: #0f172a;
  }
}
