spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/notely_db
        username: notely_user
        password: secure_password
        driver-class-name: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: create
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
